<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="10"/>
<entry key="0" type="xstring" value="ImageNumber"/>
<entry key="1" type="xstring" value="ObjectNumber"/>
<entry key="2" type="xstring" value="Metadata_sample"/>
<entry key="3" type="xstring" value="Metadata_series"/>
<entry key="4" type="xstring" value="Children_Genomes_Count"/>
<entry key="5" type="xstring" value="Intensity_MeanIntensity_DAPI"/>
<entry key="6" type="xstring" value="Intensity_MeanIntensity_Hexon"/>
<entry key="7" type="xstring" value="Intensity_MeanIntensity_pVII"/>
<entry key="8" type="xstring" value="Intensity_MeanIntensity_vDNA"/>
<entry key="9" type="xstring" value="Parent_Nuclei"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="400"/>
<entry key="0" type="xstring" value="Metadata_FileLocation"/>
<entry key="1" type="xstring" value="Metadata_Frame"/>
<entry key="2" type="xstring" value="Metadata_Series"/>
<entry key="3" type="xstring" value="Intensity_IntegratedIntensityEdge_DAPI"/>
<entry key="4" type="xstring" value="Intensity_IntegratedIntensityEdge_Hexon"/>
<entry key="5" type="xstring" value="Intensity_IntegratedIntensityEdge_pVII"/>
<entry key="6" type="xstring" value="Intensity_IntegratedIntensityEdge_vDNA"/>
<entry key="7" type="xstring" value="Intensity_IntegratedIntensity_DAPI"/>
<entry key="8" type="xstring" value="Intensity_IntegratedIntensity_Hexon"/>
<entry key="9" type="xstring" value="Intensity_IntegratedIntensity_pVII"/>
<entry key="10" type="xstring" value="Intensity_IntegratedIntensity_vDNA"/>
<entry key="11" type="xstring" value="Intensity_LowerQuartileIntensity_DAPI"/>
<entry key="12" type="xstring" value="Intensity_LowerQuartileIntensity_Hexon"/>
<entry key="13" type="xstring" value="Intensity_LowerQuartileIntensity_pVII"/>
<entry key="14" type="xstring" value="Intensity_LowerQuartileIntensity_vDNA"/>
<entry key="15" type="xstring" value="Intensity_MADIntensity_DAPI"/>
<entry key="16" type="xstring" value="Intensity_MADIntensity_Hexon"/>
<entry key="17" type="xstring" value="Intensity_MADIntensity_pVII"/>
<entry key="18" type="xstring" value="Intensity_MADIntensity_vDNA"/>
<entry key="19" type="xstring" value="Intensity_MassDisplacement_DAPI"/>
<entry key="20" type="xstring" value="Intensity_MassDisplacement_Hexon"/>
<entry key="21" type="xstring" value="Intensity_MassDisplacement_pVII"/>
<entry key="22" type="xstring" value="Intensity_MassDisplacement_vDNA"/>
<entry key="23" type="xstring" value="Intensity_MaxIntensityEdge_DAPI"/>
<entry key="24" type="xstring" value="Intensity_MaxIntensityEdge_Hexon"/>
<entry key="25" type="xstring" value="Intensity_MaxIntensityEdge_pVII"/>
<entry key="26" type="xstring" value="Intensity_MaxIntensityEdge_vDNA"/>
<entry key="27" type="xstring" value="Intensity_MaxIntensity_DAPI"/>
<entry key="28" type="xstring" value="Intensity_MaxIntensity_Hexon"/>
<entry key="29" type="xstring" value="Intensity_MaxIntensity_pVII"/>
<entry key="30" type="xstring" value="Intensity_MaxIntensity_vDNA"/>
<entry key="31" type="xstring" value="Intensity_MeanIntensityEdge_DAPI"/>
<entry key="32" type="xstring" value="Intensity_MeanIntensityEdge_Hexon"/>
<entry key="33" type="xstring" value="Intensity_MeanIntensityEdge_pVII"/>
<entry key="34" type="xstring" value="Intensity_MeanIntensityEdge_vDNA"/>
<entry key="35" type="xstring" value="Intensity_MedianIntensity_DAPI"/>
<entry key="36" type="xstring" value="Intensity_MedianIntensity_Hexon"/>
<entry key="37" type="xstring" value="Intensity_MedianIntensity_pVII"/>
<entry key="38" type="xstring" value="Intensity_MedianIntensity_vDNA"/>
<entry key="39" type="xstring" value="Intensity_MinIntensityEdge_DAPI"/>
<entry key="40" type="xstring" value="Intensity_MinIntensityEdge_Hexon"/>
<entry key="41" type="xstring" value="Intensity_MinIntensityEdge_pVII"/>
<entry key="42" type="xstring" value="Intensity_MinIntensityEdge_vDNA"/>
<entry key="43" type="xstring" value="Intensity_MinIntensity_DAPI"/>
<entry key="44" type="xstring" value="Intensity_MinIntensity_Hexon"/>
<entry key="45" type="xstring" value="Intensity_MinIntensity_pVII"/>
<entry key="46" type="xstring" value="Intensity_MinIntensity_vDNA"/>
<entry key="47" type="xstring" value="Intensity_StdIntensityEdge_DAPI"/>
<entry key="48" type="xstring" value="Intensity_StdIntensityEdge_Hexon"/>
<entry key="49" type="xstring" value="Intensity_StdIntensityEdge_pVII"/>
<entry key="50" type="xstring" value="Intensity_StdIntensityEdge_vDNA"/>
<entry key="51" type="xstring" value="Intensity_StdIntensity_DAPI"/>
<entry key="52" type="xstring" value="Intensity_StdIntensity_Hexon"/>
<entry key="53" type="xstring" value="Intensity_StdIntensity_pVII"/>
<entry key="54" type="xstring" value="Intensity_StdIntensity_vDNA"/>
<entry key="55" type="xstring" value="Intensity_UpperQuartileIntensity_DAPI"/>
<entry key="56" type="xstring" value="Intensity_UpperQuartileIntensity_Hexon"/>
<entry key="57" type="xstring" value="Intensity_UpperQuartileIntensity_pVII"/>
<entry key="58" type="xstring" value="Intensity_UpperQuartileIntensity_vDNA"/>
<entry key="59" type="xstring" value="Location_CenterMassIntensity_X_DAPI"/>
<entry key="60" type="xstring" value="Location_CenterMassIntensity_X_Hexon"/>
<entry key="61" type="xstring" value="Location_CenterMassIntensity_X_pVII"/>
<entry key="62" type="xstring" value="Location_CenterMassIntensity_X_vDNA"/>
<entry key="63" type="xstring" value="Location_CenterMassIntensity_Y_DAPI"/>
<entry key="64" type="xstring" value="Location_CenterMassIntensity_Y_Hexon"/>
<entry key="65" type="xstring" value="Location_CenterMassIntensity_Y_pVII"/>
<entry key="66" type="xstring" value="Location_CenterMassIntensity_Y_vDNA"/>
<entry key="67" type="xstring" value="Location_Center_X"/>
<entry key="68" type="xstring" value="Location_Center_Y"/>
<entry key="69" type="xstring" value="Location_MaxIntensity_X_DAPI"/>
<entry key="70" type="xstring" value="Location_MaxIntensity_X_Hexon"/>
<entry key="71" type="xstring" value="Location_MaxIntensity_X_pVII"/>
<entry key="72" type="xstring" value="Location_MaxIntensity_X_vDNA"/>
<entry key="73" type="xstring" value="Location_MaxIntensity_Y_DAPI"/>
<entry key="74" type="xstring" value="Location_MaxIntensity_Y_Hexon"/>
<entry key="75" type="xstring" value="Location_MaxIntensity_Y_pVII"/>
<entry key="76" type="xstring" value="Location_MaxIntensity_Y_vDNA"/>
<entry key="77" type="xstring" value="Number_Object_Number"/>
<entry key="78" type="xstring" value="Intensity_IntegratedIntensityEdge_Capsid"/>
<entry key="79" type="xstring" value="Intensity_IntegratedIntensity_Capsid"/>
<entry key="80" type="xstring" value="Intensity_LowerQuartileIntensity_Capsid"/>
<entry key="81" type="xstring" value="Intensity_MADIntensity_Capsid"/>
<entry key="82" type="xstring" value="Intensity_MassDisplacement_Capsid"/>
<entry key="83" type="xstring" value="Intensity_MaxIntensityEdge_Capsid"/>
<entry key="84" type="xstring" value="Intensity_MaxIntensity_Capsid"/>
<entry key="85" type="xstring" value="Intensity_MeanIntensityEdge_Capsid"/>
<entry key="86" type="xstring" value="Intensity_MeanIntensity_Capsid"/>
<entry key="87" type="xstring" value="Intensity_MedianIntensity_Capsid"/>
<entry key="88" type="xstring" value="Intensity_MinIntensityEdge_Capsid"/>
<entry key="89" type="xstring" value="Intensity_MinIntensity_Capsid"/>
<entry key="90" type="xstring" value="Intensity_StdIntensityEdge_Capsid"/>
<entry key="91" type="xstring" value="Intensity_StdIntensity_Capsid"/>
<entry key="92" type="xstring" value="Intensity_UpperQuartileIntensity_Capsid"/>
<entry key="93" type="xstring" value="Location_CenterMassIntensity_X_Capsid"/>
<entry key="94" type="xstring" value="Location_CenterMassIntensity_Y_Capsid"/>
<entry key="95" type="xstring" value="Location_MaxIntensity_X_Capsid"/>
<entry key="96" type="xstring" value="Location_MaxIntensity_Y_Capsid"/>
<entry key="97" type="xstring" value="Intensity_IntegratedIntensityEdge_Ad5"/>
<entry key="98" type="xstring" value="Intensity_IntegratedIntensityEdge_Fk2"/>
<entry key="99" type="xstring" value="Intensity_IntegratedIntensityEdge_VI"/>
<entry key="100" type="xstring" value="Intensity_IntegratedIntensity_Ad5"/>
<entry key="101" type="xstring" value="Intensity_IntegratedIntensity_Fk2"/>
<entry key="102" type="xstring" value="Intensity_IntegratedIntensity_VI"/>
<entry key="103" type="xstring" value="Intensity_LowerQuartileIntensity_Ad5"/>
<entry key="104" type="xstring" value="Intensity_LowerQuartileIntensity_Fk2"/>
<entry key="105" type="xstring" value="Intensity_LowerQuartileIntensity_VI"/>
<entry key="106" type="xstring" value="Intensity_MADIntensity_Ad5"/>
<entry key="107" type="xstring" value="Intensity_MADIntensity_Fk2"/>
<entry key="108" type="xstring" value="Intensity_MADIntensity_VI"/>
<entry key="109" type="xstring" value="Intensity_MassDisplacement_Ad5"/>
<entry key="110" type="xstring" value="Intensity_MassDisplacement_Fk2"/>
<entry key="111" type="xstring" value="Intensity_MassDisplacement_VI"/>
<entry key="112" type="xstring" value="Intensity_MaxIntensityEdge_Ad5"/>
<entry key="113" type="xstring" value="Intensity_MaxIntensityEdge_Fk2"/>
<entry key="114" type="xstring" value="Intensity_MaxIntensityEdge_VI"/>
<entry key="115" type="xstring" value="Intensity_MaxIntensity_Ad5"/>
<entry key="116" type="xstring" value="Intensity_MaxIntensity_Fk2"/>
<entry key="117" type="xstring" value="Intensity_MaxIntensity_VI"/>
<entry key="118" type="xstring" value="Intensity_MeanIntensityEdge_Ad5"/>
<entry key="119" type="xstring" value="Intensity_MeanIntensityEdge_Fk2"/>
<entry key="120" type="xstring" value="Intensity_MeanIntensityEdge_VI"/>
<entry key="121" type="xstring" value="Intensity_MedianIntensity_Ad5"/>
<entry key="122" type="xstring" value="Intensity_MedianIntensity_Fk2"/>
<entry key="123" type="xstring" value="Intensity_MedianIntensity_VI"/>
<entry key="124" type="xstring" value="Intensity_MinIntensityEdge_Ad5"/>
<entry key="125" type="xstring" value="Intensity_MinIntensityEdge_Fk2"/>
<entry key="126" type="xstring" value="Intensity_MinIntensityEdge_VI"/>
<entry key="127" type="xstring" value="Intensity_MinIntensity_Ad5"/>
<entry key="128" type="xstring" value="Intensity_MinIntensity_Fk2"/>
<entry key="129" type="xstring" value="Intensity_MinIntensity_VI"/>
<entry key="130" type="xstring" value="Intensity_StdIntensityEdge_Ad5"/>
<entry key="131" type="xstring" value="Intensity_StdIntensityEdge_Fk2"/>
<entry key="132" type="xstring" value="Intensity_StdIntensityEdge_VI"/>
<entry key="133" type="xstring" value="Intensity_StdIntensity_Ad5"/>
<entry key="134" type="xstring" value="Intensity_StdIntensity_Fk2"/>
<entry key="135" type="xstring" value="Intensity_StdIntensity_VI"/>
<entry key="136" type="xstring" value="Intensity_UpperQuartileIntensity_Ad5"/>
<entry key="137" type="xstring" value="Intensity_UpperQuartileIntensity_Fk2"/>
<entry key="138" type="xstring" value="Intensity_UpperQuartileIntensity_VI"/>
<entry key="139" type="xstring" value="Location_CenterMassIntensity_X_Ad5"/>
<entry key="140" type="xstring" value="Location_CenterMassIntensity_X_Fk2"/>
<entry key="141" type="xstring" value="Location_CenterMassIntensity_X_VI"/>
<entry key="142" type="xstring" value="Location_CenterMassIntensity_Y_Ad5"/>
<entry key="143" type="xstring" value="Location_CenterMassIntensity_Y_Fk2"/>
<entry key="144" type="xstring" value="Location_CenterMassIntensity_Y_VI"/>
<entry key="145" type="xstring" value="Location_MaxIntensity_X_Ad5"/>
<entry key="146" type="xstring" value="Location_MaxIntensity_X_Fk2"/>
<entry key="147" type="xstring" value="Location_MaxIntensity_X_VI"/>
<entry key="148" type="xstring" value="Location_MaxIntensity_Y_Ad5"/>
<entry key="149" type="xstring" value="Location_MaxIntensity_Y_Fk2"/>
<entry key="150" type="xstring" value="Location_MaxIntensity_Y_VI"/>
<entry key="151" type="xstring" value="Parent_Capsids"/>
<entry key="152" type="xstring" value="Iteration"/>
<entry key="153" type="xstring" value="knime.workspace"/>
<entry key="154" type="xstring" value="Metadata_SizeC"/>
<entry key="155" type="xstring" value="Metadata_SizeT"/>
<entry key="156" type="xstring" value="Metadata_SizeZ"/>
<entry key="157" type="xstring" value="Metadata_C"/>
<entry key="158" type="xstring" value="Metadata_ChannelName"/>
<entry key="159" type="xstring" value="Metadata_ColorFormat"/>
<entry key="160" type="xstring" value="Metadata_Plate"/>
<entry key="161" type="xstring" value="Metadata_Site"/>
<entry key="162" type="xstring" value="Metadata_SizeX"/>
<entry key="163" type="xstring" value="Metadata_SizeY"/>
<entry key="164" type="xstring" value="Metadata_T"/>
<entry key="165" type="xstring" value="Metadata_Well"/>
<entry key="166" type="xstring" value="Metadata_Z"/>
<entry key="167" type="xstring" value="AreaShape_Area"/>
<entry key="168" type="xstring" value="AreaShape_Center_X"/>
<entry key="169" type="xstring" value="AreaShape_Center_Y"/>
<entry key="170" type="xstring" value="AreaShape_Compactness"/>
<entry key="171" type="xstring" value="AreaShape_Eccentricity"/>
<entry key="172" type="xstring" value="AreaShape_EulerNumber"/>
<entry key="173" type="xstring" value="AreaShape_Extent"/>
<entry key="174" type="xstring" value="AreaShape_FormFactor"/>
<entry key="175" type="xstring" value="AreaShape_MajorAxisLength"/>
<entry key="176" type="xstring" value="AreaShape_MaxFeretDiameter"/>
<entry key="177" type="xstring" value="AreaShape_MaximumRadius"/>
<entry key="178" type="xstring" value="AreaShape_MeanRadius"/>
<entry key="179" type="xstring" value="AreaShape_MedianRadius"/>
<entry key="180" type="xstring" value="AreaShape_MinFeretDiameter"/>
<entry key="181" type="xstring" value="AreaShape_MinorAxisLength"/>
<entry key="182" type="xstring" value="AreaShape_Orientation"/>
<entry key="183" type="xstring" value="AreaShape_Perimeter"/>
<entry key="184" type="xstring" value="AreaShape_Solidity"/>
<entry key="185" type="xstring" value="ExecutionTime_01Images"/>
<entry key="186" type="xstring" value="ExecutionTime_02Metadata"/>
<entry key="187" type="xstring" value="ExecutionTime_03NamesAndTypes"/>
<entry key="188" type="xstring" value="ExecutionTime_04Groups"/>
<entry key="189" type="xstring" value="ExecutionTime_05IdentifyPrimaryObjects"/>
<entry key="190" type="xstring" value="ExecutionTime_06RescaleIntensity"/>
<entry key="191" type="xstring" value="ExecutionTime_08IdentifyObjectsManually"/>
<entry key="192" type="xstring" value="ExecutionTime_09IdentifyPrimaryObjects"/>
<entry key="193" type="xstring" value="ExecutionTime_10IdentifyPrimaryObjects"/>
<entry key="194" type="xstring" value="ExecutionTime_11RelateObjects"/>
<entry key="195" type="xstring" value="ExecutionTime_12RelateObjects"/>
<entry key="196" type="xstring" value="ExecutionTime_13MeasureObjectSizeShape"/>
<entry key="197" type="xstring" value="ExecutionTime_14MeasureObjectIntensity"/>
<entry key="198" type="xstring" value="ExecutionTime_15GrayToColor"/>
<entry key="199" type="xstring" value="ExecutionTime_16SaveImages"/>
<entry key="200" type="xstring" value="FileName_DAPI"/>
<entry key="201" type="xstring" value="FileName_Hexon"/>
<entry key="202" type="xstring" value="FileName_vDNA"/>
<entry key="203" type="xstring" value="Frame_DAPI"/>
<entry key="204" type="xstring" value="Frame_Hexon"/>
<entry key="205" type="xstring" value="Frame_vDNA"/>
<entry key="206" type="xstring" value="Group_Index"/>
<entry key="207" type="xstring" value="Group_Number"/>
<entry key="208" type="xstring" value="Height_DAPI"/>
<entry key="209" type="xstring" value="Height_Hexon"/>
<entry key="210" type="xstring" value="Height_vDNA"/>
<entry key="211" type="xstring" value="ImageSet_ImageSet"/>
<entry key="212" type="xstring" value="MD5Digest_DAPI"/>
<entry key="213" type="xstring" value="MD5Digest_Hexon"/>
<entry key="214" type="xstring" value="MD5Digest_vDNA"/>
<entry key="215" type="xstring" value="Mean_Capsids_AreaShape_Area"/>
<entry key="216" type="xstring" value="Mean_Capsids_AreaShape_Center_X"/>
<entry key="217" type="xstring" value="Mean_Capsids_AreaShape_Center_Y"/>
<entry key="218" type="xstring" value="Mean_Capsids_AreaShape_Compactness"/>
<entry key="219" type="xstring" value="Mean_Capsids_AreaShape_Eccentricity"/>
<entry key="220" type="xstring" value="Mean_Capsids_AreaShape_EulerNumber"/>
<entry key="221" type="xstring" value="Mean_Capsids_AreaShape_Extent"/>
<entry key="222" type="xstring" value="Mean_Capsids_AreaShape_FormFactor"/>
<entry key="223" type="xstring" value="Mean_Capsids_AreaShape_MajorAxisLength"/>
<entry key="224" type="xstring" value="Mean_Capsids_AreaShape_MaxFeretDiameter"/>
<entry key="225" type="xstring" value="Mean_Capsids_AreaShape_MaximumRadius"/>
<entry key="226" type="xstring" value="Mean_Capsids_AreaShape_MeanRadius"/>
<entry key="227" type="xstring" value="Mean_Capsids_AreaShape_MedianRadius"/>
<entry key="228" type="xstring" value="Mean_Capsids_AreaShape_MinFeretDiameter"/>
<entry key="229" type="xstring" value="Mean_Capsids_AreaShape_MinorAxisLength"/>
<entry key="230" type="xstring" value="Mean_Capsids_AreaShape_Orientation"/>
<entry key="231" type="xstring" value="Mean_Capsids_AreaShape_Perimeter"/>
<entry key="232" type="xstring" value="Mean_Capsids_AreaShape_Solidity"/>
<entry key="233" type="xstring" value="Mean_Capsids_Intensity_IntegratedIntensityEdge_Hexon"/>
<entry key="234" type="xstring" value="Mean_Capsids_Intensity_IntegratedIntensityEdge_vDNA"/>
<entry key="235" type="xstring" value="Mean_Capsids_Intensity_IntegratedIntensity_Hexon"/>
<entry key="236" type="xstring" value="Mean_Capsids_Intensity_IntegratedIntensity_vDNA"/>
<entry key="237" type="xstring" value="Mean_Capsids_Intensity_LowerQuartileIntensity_Hexon"/>
<entry key="238" type="xstring" value="Mean_Capsids_Intensity_LowerQuartileIntensity_vDNA"/>
<entry key="239" type="xstring" value="Mean_Capsids_Intensity_MADIntensity_Hexon"/>
<entry key="240" type="xstring" value="Mean_Capsids_Intensity_MADIntensity_vDNA"/>
<entry key="241" type="xstring" value="Mean_Capsids_Intensity_MassDisplacement_Hexon"/>
<entry key="242" type="xstring" value="Mean_Capsids_Intensity_MassDisplacement_vDNA"/>
<entry key="243" type="xstring" value="Mean_Capsids_Intensity_MaxIntensityEdge_Hexon"/>
<entry key="244" type="xstring" value="Mean_Capsids_Intensity_MaxIntensityEdge_vDNA"/>
<entry key="245" type="xstring" value="Mean_Capsids_Intensity_MaxIntensity_Hexon"/>
<entry key="246" type="xstring" value="Mean_Capsids_Intensity_MaxIntensity_vDNA"/>
<entry key="247" type="xstring" value="Mean_Capsids_Intensity_MeanIntensityEdge_Hexon"/>
<entry key="248" type="xstring" value="Mean_Capsids_Intensity_MeanIntensityEdge_vDNA"/>
<entry key="249" type="xstring" value="Mean_Capsids_Intensity_MeanIntensity_Hexon"/>
<entry key="250" type="xstring" value="Mean_Capsids_Intensity_MedianIntensity_Hexon"/>
<entry key="251" type="xstring" value="Mean_Capsids_Intensity_MedianIntensity_vDNA"/>
<entry key="252" type="xstring" value="Mean_Capsids_Intensity_MinIntensityEdge_Hexon"/>
<entry key="253" type="xstring" value="Mean_Capsids_Intensity_MinIntensityEdge_vDNA"/>
<entry key="254" type="xstring" value="Mean_Capsids_Intensity_MinIntensity_Hexon"/>
<entry key="255" type="xstring" value="Mean_Capsids_Intensity_MinIntensity_vDNA"/>
<entry key="256" type="xstring" value="Mean_Capsids_Intensity_StdIntensityEdge_Hexon"/>
<entry key="257" type="xstring" value="Mean_Capsids_Intensity_StdIntensityEdge_vDNA"/>
<entry key="258" type="xstring" value="Mean_Capsids_Intensity_StdIntensity_Hexon"/>
<entry key="259" type="xstring" value="Mean_Capsids_Intensity_StdIntensity_vDNA"/>
<entry key="260" type="xstring" value="Mean_Capsids_Intensity_UpperQuartileIntensity_Hexon"/>
<entry key="261" type="xstring" value="Mean_Capsids_Intensity_UpperQuartileIntensity_vDNA"/>
<entry key="262" type="xstring" value="Mean_Capsids_Location_CenterMassIntensity_X_Hexon"/>
<entry key="263" type="xstring" value="Mean_Capsids_Location_CenterMassIntensity_X_vDNA"/>
<entry key="264" type="xstring" value="Mean_Capsids_Location_CenterMassIntensity_Y_Hexon"/>
<entry key="265" type="xstring" value="Mean_Capsids_Location_CenterMassIntensity_Y_vDNA"/>
<entry key="266" type="xstring" value="Mean_Capsids_Location_Center_X"/>
<entry key="267" type="xstring" value="Mean_Capsids_Location_Center_Y"/>
<entry key="268" type="xstring" value="Mean_Capsids_Location_MaxIntensity_X_Hexon"/>
<entry key="269" type="xstring" value="Mean_Capsids_Location_MaxIntensity_X_vDNA"/>
<entry key="270" type="xstring" value="Mean_Capsids_Location_MaxIntensity_Y_Hexon"/>
<entry key="271" type="xstring" value="Mean_Capsids_Location_MaxIntensity_Y_vDNA"/>
<entry key="272" type="xstring" value="Mean_Capsids_Parent_Cells"/>
<entry key="273" type="xstring" value="Mean_Cells_Children_Capsids_Count"/>
<entry key="274" type="xstring" value="Mean_Cells_Children_Genomes_Count"/>
<entry key="275" type="xstring" value="Mean_Cells_Location_Center_X"/>
<entry key="276" type="xstring" value="Mean_Cells_Location_Center_Y"/>
<entry key="277" type="xstring" value="Mean_Genomes_AreaShape_Area"/>
<entry key="278" type="xstring" value="Mean_Genomes_AreaShape_Center_X"/>
<entry key="279" type="xstring" value="Mean_Genomes_AreaShape_Center_Y"/>
<entry key="280" type="xstring" value="Mean_Genomes_AreaShape_Compactness"/>
<entry key="281" type="xstring" value="Mean_Genomes_AreaShape_Eccentricity"/>
<entry key="282" type="xstring" value="Mean_Genomes_AreaShape_EulerNumber"/>
<entry key="283" type="xstring" value="Mean_Genomes_AreaShape_Extent"/>
<entry key="284" type="xstring" value="Mean_Genomes_AreaShape_FormFactor"/>
<entry key="285" type="xstring" value="Mean_Genomes_AreaShape_MajorAxisLength"/>
<entry key="286" type="xstring" value="Mean_Genomes_AreaShape_MaxFeretDiameter"/>
<entry key="287" type="xstring" value="Mean_Genomes_AreaShape_MaximumRadius"/>
<entry key="288" type="xstring" value="Mean_Genomes_AreaShape_MeanRadius"/>
<entry key="289" type="xstring" value="Mean_Genomes_AreaShape_MedianRadius"/>
<entry key="290" type="xstring" value="Mean_Genomes_AreaShape_MinFeretDiameter"/>
<entry key="291" type="xstring" value="Mean_Genomes_AreaShape_MinorAxisLength"/>
<entry key="292" type="xstring" value="Mean_Genomes_AreaShape_Orientation"/>
<entry key="293" type="xstring" value="Mean_Genomes_AreaShape_Perimeter"/>
<entry key="294" type="xstring" value="Mean_Genomes_AreaShape_Solidity"/>
<entry key="295" type="xstring" value="Mean_Genomes_Intensity_IntegratedIntensityEdge_Hexon"/>
<entry key="296" type="xstring" value="Mean_Genomes_Intensity_IntegratedIntensityEdge_vDNA"/>
<entry key="297" type="xstring" value="Mean_Genomes_Intensity_IntegratedIntensity_Hexon"/>
<entry key="298" type="xstring" value="Mean_Genomes_Intensity_IntegratedIntensity_vDNA"/>
<entry key="299" type="xstring" value="Mean_Genomes_Intensity_LowerQuartileIntensity_Hexon"/>
<entry key="300" type="xstring" value="Mean_Genomes_Intensity_LowerQuartileIntensity_vDNA"/>
<entry key="301" type="xstring" value="Mean_Genomes_Intensity_MADIntensity_Hexon"/>
<entry key="302" type="xstring" value="Mean_Genomes_Intensity_MADIntensity_vDNA"/>
<entry key="303" type="xstring" value="Mean_Genomes_Intensity_MassDisplacement_Hexon"/>
<entry key="304" type="xstring" value="Mean_Genomes_Intensity_MassDisplacement_vDNA"/>
<entry key="305" type="xstring" value="Mean_Genomes_Intensity_MaxIntensityEdge_Hexon"/>
<entry key="306" type="xstring" value="Mean_Genomes_Intensity_MaxIntensityEdge_vDNA"/>
<entry key="307" type="xstring" value="Mean_Genomes_Intensity_MaxIntensity_Hexon"/>
<entry key="308" type="xstring" value="Mean_Genomes_Intensity_MaxIntensity_vDNA"/>
<entry key="309" type="xstring" value="Mean_Genomes_Intensity_MeanIntensityEdge_Hexon"/>
<entry key="310" type="xstring" value="Mean_Genomes_Intensity_MeanIntensityEdge_vDNA"/>
<entry key="311" type="xstring" value="Mean_Genomes_Intensity_MeanIntensity_Hexon"/>
<entry key="312" type="xstring" value="Mean_Genomes_Intensity_MeanIntensity_vDNA"/>
<entry key="313" type="xstring" value="Mean_Genomes_Intensity_MedianIntensity_Hexon"/>
<entry key="314" type="xstring" value="Mean_Genomes_Intensity_MedianIntensity_vDNA"/>
<entry key="315" type="xstring" value="Mean_Genomes_Intensity_MinIntensityEdge_Hexon"/>
<entry key="316" type="xstring" value="Mean_Genomes_Intensity_MinIntensityEdge_vDNA"/>
<entry key="317" type="xstring" value="Mean_Genomes_Intensity_MinIntensity_Hexon"/>
<entry key="318" type="xstring" value="Mean_Genomes_Intensity_MinIntensity_vDNA"/>
<entry key="319" type="xstring" value="Mean_Genomes_Intensity_StdIntensityEdge_Hexon"/>
<entry key="320" type="xstring" value="Mean_Genomes_Intensity_StdIntensityEdge_vDNA"/>
<entry key="321" type="xstring" value="Mean_Genomes_Intensity_StdIntensity_Hexon"/>
<entry key="322" type="xstring" value="Mean_Genomes_Intensity_StdIntensity_vDNA"/>
<entry key="323" type="xstring" value="Mean_Genomes_Intensity_UpperQuartileIntensity_Hexon"/>
<entry key="324" type="xstring" value="Mean_Genomes_Intensity_UpperQuartileIntensity_vDNA"/>
<entry key="325" type="xstring" value="Mean_Genomes_Location_CenterMassIntensity_X_Hexon"/>
<entry key="326" type="xstring" value="Mean_Genomes_Location_CenterMassIntensity_X_vDNA"/>
<entry key="327" type="xstring" value="Mean_Genomes_Location_CenterMassIntensity_Y_Hexon"/>
<entry key="328" type="xstring" value="Mean_Genomes_Location_CenterMassIntensity_Y_vDNA"/>
<entry key="329" type="xstring" value="Mean_Genomes_Location_Center_X"/>
<entry key="330" type="xstring" value="Mean_Genomes_Location_Center_Y"/>
<entry key="331" type="xstring" value="Mean_Genomes_Location_MaxIntensity_X_Hexon"/>
<entry key="332" type="xstring" value="Mean_Genomes_Location_MaxIntensity_X_vDNA"/>
<entry key="333" type="xstring" value="Mean_Genomes_Location_MaxIntensity_Y_Hexon"/>
<entry key="334" type="xstring" value="Mean_Genomes_Location_MaxIntensity_Y_vDNA"/>
<entry key="335" type="xstring" value="Mean_Genomes_Parent_Cells"/>
<entry key="336" type="xstring" value="Mean_Nuclei_Location_Center_X"/>
<entry key="337" type="xstring" value="Mean_Nuclei_Location_Center_Y"/>
<entry key="338" type="xstring" value="ModuleError_01Images"/>
<entry key="339" type="xstring" value="ModuleError_02Metadata"/>
<entry key="340" type="xstring" value="ModuleError_03NamesAndTypes"/>
<entry key="341" type="xstring" value="ModuleError_04Groups"/>
<entry key="342" type="xstring" value="ModuleError_05IdentifyPrimaryObjects"/>
<entry key="343" type="xstring" value="ModuleError_06RescaleIntensity"/>
<entry key="344" type="xstring" value="ModuleError_08IdentifyObjectsManually"/>
<entry key="345" type="xstring" value="ModuleError_09IdentifyPrimaryObjects"/>
<entry key="346" type="xstring" value="ModuleError_10IdentifyPrimaryObjects"/>
<entry key="347" type="xstring" value="ModuleError_11RelateObjects"/>
<entry key="348" type="xstring" value="ModuleError_12RelateObjects"/>
<entry key="349" type="xstring" value="ModuleError_13MeasureObjectSizeShape"/>
<entry key="350" type="xstring" value="ModuleError_14MeasureObjectIntensity"/>
<entry key="351" type="xstring" value="ModuleError_15GrayToColor"/>
<entry key="352" type="xstring" value="ModuleError_16SaveImages"/>
<entry key="353" type="xstring" value="PathName_DAPI"/>
<entry key="354" type="xstring" value="PathName_Hexon"/>
<entry key="355" type="xstring" value="PathName_RGBImage"/>
<entry key="356" type="xstring" value="PathName_vDNA"/>
<entry key="357" type="xstring" value="ProcessingStatus"/>
<entry key="358" type="xstring" value="Scaling_DAPI"/>
<entry key="359" type="xstring" value="Scaling_Hexon"/>
<entry key="360" type="xstring" value="Scaling_vDNA"/>
<entry key="361" type="xstring" value="Series_DAPI"/>
<entry key="362" type="xstring" value="Series_Hexon"/>
<entry key="363" type="xstring" value="Series_vDNA"/>
<entry key="364" type="xstring" value="Threshold_FinalThreshold_Capsids"/>
<entry key="365" type="xstring" value="Threshold_FinalThreshold_Genomes"/>
<entry key="366" type="xstring" value="Threshold_FinalThreshold_Nuclei"/>
<entry key="367" type="xstring" value="Threshold_OrigThreshold_Capsids"/>
<entry key="368" type="xstring" value="Threshold_OrigThreshold_Genomes"/>
<entry key="369" type="xstring" value="Threshold_OrigThreshold_Nuclei"/>
<entry key="370" type="xstring" value="Threshold_SumOfEntropies_Capsids"/>
<entry key="371" type="xstring" value="Threshold_SumOfEntropies_Genomes"/>
<entry key="372" type="xstring" value="Threshold_SumOfEntropies_Nuclei"/>
<entry key="373" type="xstring" value="Threshold_WeightedVariance_Capsids"/>
<entry key="374" type="xstring" value="Threshold_WeightedVariance_Genomes"/>
<entry key="375" type="xstring" value="Threshold_WeightedVariance_Nuclei"/>
<entry key="376" type="xstring" value="URL_DAPI"/>
<entry key="377" type="xstring" value="URL_Hexon"/>
<entry key="378" type="xstring" value="URL_RGBImage"/>
<entry key="379" type="xstring" value="URL_vDNA"/>
<entry key="380" type="xstring" value="Width_DAPI"/>
<entry key="381" type="xstring" value="Width_Hexon"/>
<entry key="382" type="xstring" value="Width_vDNA"/>
<entry key="383" type="xstring" value="Intensity_MeanIntensityEdge_GFP"/>
<entry key="384" type="xstring" value="Intensity_IntegratedIntensityEdge_GFP"/>
<entry key="385" type="xstring" value="Intensity_IntegratedIntensity_GFP"/>
<entry key="386" type="xstring" value="Intensity_LowerQuartileIntensity_GFP"/>
<entry key="387" type="xstring" value="Intensity_MassDisplacement_GFP"/>
<entry key="388" type="xstring" value="Intensity_MaxIntensityEdge_GFP"/>
<entry key="389" type="xstring" value="Intensity_MaxIntensity_GFP"/>
<entry key="390" type="xstring" value="Intensity_MedianIntensity_GFP"/>
<entry key="391" type="xstring" value="Intensity_MinIntensityEdge_GFP"/>
<entry key="392" type="xstring" value="Intensity_MinIntensity_GFP"/>
<entry key="393" type="xstring" value="Intensity_StdIntensityEdge_GFP"/>
<entry key="394" type="xstring" value="Intensity_StdIntensity_GFP"/>
<entry key="395" type="xstring" value="Intensity_UpperQuartileIntensity_GFP"/>
<entry key="396" type="xstring" value="Location_CenterMassIntensity_X_GFP"/>
<entry key="397" type="xstring" value="Location_CenterMassIntensity_Y_GFP"/>
<entry key="398" type="xstring" value="Location_MaxIntensity_X_GFP"/>
<entry key="399" type="xstring" value="Location_MaxIntensity_Y_GFP"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.12.2.0049834"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
